# pyCharm IDE folders
.idea/

# compiled python files
*.pyc

# mac folder info file
*.DS_Store

# pytest coverage
.coverage

# saved files
src/my-settings.json
src/*.pickle
en.py
en2.py
en3.py

# Generated Distributable
src/ReAnticsDistributable

# pickle files
src/*.pickle
